<!DOCTYPE html>
<html>

<head>
    <title>DataPilot</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body>
    {% if user.is_authenticated %}
        <div class="container dashboard">
            <h1>Welcome to DataPilot, {{ user.username }}!</h1>
            <div class="btns">
                <a href="{% url 'logout' %}" class="btn logout-btn">Logout</a>
                <!-- <button class="btn theme-btn theme-toggle">Toggle</button> -->
            </div>
            <form method="post">
                {% csrf_token %}
                <textarea name="sql_query" rows="10" cols="80" required class="cmd">{{ sql_query|default:'' }}</textarea>
                <br>
                <input type="submit" value="Execute" class="btn exe-btn">
            </form>

            {% if error_message %}
                <p class="error-mssg">{{ error_message }}</p>
            {% endif %}

            {% if rows %}
                <h2>Result:</h2>
                <table>
                    {% if cols %}
                        <tr>
                            {% for col in cols%}
                                <th>{{ col }}</th>
                            {% endfor %}
                        </tr>
                    {% endif %}
                    {% for row in rows %}
                        <tr>
                            {% for value in row %}
                                <td>{{ value }}</td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </table>
            {% endif %}
        </div>
    {% else %}
        <div class="container">
            <h1>Welcome to DataPilot</h1>
            <p class="disp-para">Please login to use DataPilot</p>
            <a href="{% url 'account_login' %}" class="login-btn">Login</a>
        </div>
    {% endif %}
</body>
</html>