@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');

:root {
    --primary: #007bff;
    --secondary: #17a2b8;
    --accent: #ffc107;
    --background: #f8f9fa;
    --text: #333333;
    --error: #dc3545;
    --dark_background: #1e1e1e;
    --dark_text: #f8f8f8;
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: var(--background);
    color: var(--text);
}

.container {
    width: 100vw;
    max-width: 1300px;
    margin-top: 30px;
    margin-left: 50%;
    transform: translateX(-50%);
    border-radius: 20px;
    height: 90vh;
    text-align: center;
}

.dashboard {
    text-align: initial;
}

.disp-para {
    padding-bottom: 50px;
}

.btn,
.login-btn {
    color: var(--background);
    background-color: var(--secondary);
    display:inline-block;
    min-width:100px;
    padding: 10px 20px;
    border-radius: 50px;
    box-shadow: 0 0 10px black;
    text-decoration: none;
    font-weight: 600;
}

.error-mssg {
    color: var(--error);
}

.exe-btn {
    background-color: var(--primary);
    font-weight: 800;
    border: none;
    width: 140px;
}

.btns {
    position: absolute;
    top: 0;
    right: 0;
}

.logout-btn {
    text-align: center;
}

.theme-btn {
    border: none;
    font-size: 16px;
    margin: 0 20px;
}

.cmd {
    resize: none;
    margin: 10px 0;
}

table {
    border-collapse: collapse;
    width: 100%;
}

td {
    border: 1px solid;
    padding: 0 5px;
}